.navBg {
    background-color: rgb(0, 99, 160, 1);
    justify-content: space-between;
    
  }
  .me-auto{
      height: 50px;
      width: 0px;
      font-size: 25px;
      margin-left: 60%;
      justify-content: space-between;
  }
  .nav2{
      margin-top: -10px;
  }
  .space{
      margin-left: 70px;
  }