.mainButton{
    color:black;
    border-color: black;
    background-color: unset;
}
input{
    width: 50%;
    height: 50px;
    border: none;
    margin: 10px 0;
    font-size: 14px;
    padding-left: 10px;
}
p{
    font-weight: 700;
}
.Payment-title{
    font-size: 200%;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  text-shadow: black 6px 6px 8px;
  text-transform: uppercase;
}