.sidebar{
  display: flex;
  flex-direction: column;
  background-image: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );
  width: 20%;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-around;
  
}
.all{
  display: flex;
  flex-direction: row;
}
.ads{
  display: flex;

}

