.CalendarMainContainer{
    display: flex;
    flex-direction: column;
    border: 3px solid blueviolet;
}
.modalCalendarContainer{
    border: 2px solid rgb(0, 255, 42);
}

.calendarResponsive{
    
}