
.specialty{
    display: flex;
    flex-direction: row;
    margin: 8%;
}
.country{
    display: flex;
    margin: 8%;
   
}
.province{
    display: flex;
   margin: 8%;
}
.city{
    display: flex;
    margin: 8%;
}
.service{
    display: flex;
    margin: 8%;
}
.price{
    display: flex;
    margin: 8%;
}
.ranking{
    display: flex;
    
}
.search{
    display: flex;
    
    
}
.buttonFilter{
    margin:2%;
    border-radius: 25px;
}