.sidebar{
    display: flex;
    flex-direction: column;
    border:3px solid rgb(247, 0, 165);
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    /* background-image: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% ); */

  }

.firstDiv,.secondDIV{
  display: flex;
  justify-content: space-around;
    
}
.buttonFilter{
    margin:2%;
    border-radius: 25px;
}