.navper{
    display: flex;
    
}
.nuestracontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    height: 2500px;
}
.primercont{
    
   display: flex;
   flex-direction: row;
  
}
.micontainerImage{
   
    display: flex;
    flex-direction: column;
    align-items: center;
  margin-right: 10px;
    padding: 10px;
    background-color: white;
    border-color: #e4f4f6;
    border-radius: 1px;
    background-size: cover;
    border-style: solid;
    scroll-margin: 200px;
    width: 250px;
}
.micontainerInfo{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-color: #e4f4f6;
    border-radius: 1px;
    background-size: cover;
    border-style: solid;
    scroll-margin: 200px;
    width: 550px;
    height: 350px;

}
.conteinerads{
    padding: 4%;
}
.adsprofile{
    display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  gap: 10px 20px;
  padding: 4%;
}
.medicalRecorder{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-color: #e4f4f6;
    border-radius: 1px;
    background-size: cover;
    border-style: solid;
    scroll-margin: 200px;
    width: 550px;
    height: 400px;
}
.miHistoryApp{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-color: #e4f4f6;
    border-radius: 1px;
    background-size: cover;
    border-style: solid;
    scroll-margin: 200px;
    width: 550px;
    height: 400px;
}
.miFavorites{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-color: #e4f4f6;
    border-radius: 1px;
    background-size: cover;
    border-style: solid;
    scroll-margin: 200px;
    width: 550px;
    height: 380px;
    padding: 10px;
}
.SignOut{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.miboton{
    margin-top:50px ;
   
   
}
.seconcont{
    
    display: flex;
    flex-direction: row;
}
.misbotones{
    display: flex;
    flex-direction: row;
}


.NavBarLoginFooterContainer{
    display: flex;
    flex-direction: column;
}

